<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="utf-8">
        <title>个人中心</title>
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <!--标准mui.css-->
        {CSS href='__ADDONSTATIC__mui/css/mui.min.css' /}
        <!--App自定义的css-->
        {CSS href='__ADDONSTATIC__mui/css/app.css' /}
        {js href='__STATIC__layui/layui.js' /}
        {CSS href="__STATIC__layui/css/layui.css" /}
        {:hook('Jssdk')}
    </head>
    <body>
        <div class="mui-content">
            <div class="mui-card">
                <div class="mui-card-header mui-card-media">
                    <img src="{$fansRow.headimgurl}" class="head-img" />
                    <div class="mui-media-body person-nickname">
                        {$fansRow.nickname}
                    </div>
                </div>
            </div>
            <ul class="mui-table-view mui-grid-view mui-grid-9">
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
                    <a href="{:addonUrl('info')}">
                        <span class="mui-icon"><i class="layui-icon" style="font-size: 30px; color: #85ae84;">&#xe612;</i></span>
                        <div class="mui-media-body">我的信息</div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
                    <a href="{:addonUrl('order')}">
                        <span class="mui-icon"><i class="layui-icon" style="font-size: 38px; color: #85ae84;">&#xe60a;</i></span>
                        <div class="mui-media-body">我的订单</div>
                    </a>
                </li>
            </ul> 
        </div>
    </body>
    {js href='__ADDONSTATIC__mui/js/mui.min.js' /}
    <script>
        mui.init({
            swipeBack:true //启用右滑关闭功能
        });
    </script>
    <script type="text/javascript">
        var shareTitel  = '';
        var shareDesc   = '';
        var shareLink   = 'http://'+window.location.hostname+'/app/weshop/index/login/mid/{$mpInfo.id}';
        var shareImgUrl = 'http://'+window.location.hostname+'/addons/weshop/static/images/login-logo.jpg';
        wx.ready(function(){
            wx.onMenuShareTimeline({
                title: shareTitel, // 分享标题
                link: shareLink, // 分享链接
                imgUrl: shareImgUrl, // 分享图标
                success: function () { 

                },
                cancel: function () { 
                
                }
            });
          wx.onMenuShareAppMessage({
              title: shareTitel, // 分享标题
              desc: shareDesc, // 分享描述
              link: shareLink, // 分享链接
              imgUrl: shareImgUrl, // 分享图标
              type: '', // 分享类型,music、video或link，不填默认为link
              dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
              success: function () { 
            
              },
              cancel: function () { 

              }
          });
            wx.onMenuShareQQ({
              title: shareTitel, // 分享标题
              desc: shareDesc, // 分享描述
              link: shareLink, // 分享链接
              imgUrl: shareImgUrl, // 分享图标
              success: function () { 
                                   
              },
              cancel: function () { 
                
              }
          });
          wx.onMenuShareWeibo({
              title: shareTitel, // 分享标题
              desc: shareDesc, // 分享描述
              link: shareLink, // 分享链接
              imgUrl: shareImgUrl, // 分享图标
              success: function () { 
                                  
              },
              cancel: function () { 
                
              }
          });
          wx.onMenuShareQZone({
              title: shareTitel, // 分享标题
              desc: shareDesc, // 分享描述
              link: shareLink, // 分享链接
              imgUrl: shareImgUrl, // 分享图标
              success: function () { 
                                 
              },
              cancel: function () { 

              }
          });
        });
    </script>
</html>