<!DOCTYPE>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no, email=no">    
    <title>收货地址</title>
    {include file="common/base" /}
</head>
<body style="background:#eee">
    <header class="aui-header-default aui-header-fixed ">
        <a href="javascript:history.back(-1)" class="aui-header-item">
            <i class="aui-icon aui-icon-back"></i>
        </a>
        <div class="aui-header-center aui-header-center-clear">
            <div class="aui-header-center-logo">
                <div class="">收货地址</div>
            </div>
        </div>
    </header>

    <section class="aui-myOrder-content">
        {volist name="itemList" id="address"}
        <div class="aui-Address-box">
            <div class="aui-Address-box-item">
                <div class="aui-Address-box-item-bd">
                    <p>{$address.name}</p>
                </div>
                <div class="aui-Address-box-item-ft">
                    <p>{$address.mobile}</p>
                </div>
            </div>
            <div class="aui-Address-box-item">
                <div class="aui-Address-box-item-bd">
                    <p>{$address.province}{$address.city}{$address.area}{$address.address}</p>
                </div>
            </div>
            <div class="aui-Address-box-item">
                <div class="aui-Address-box-item-bd">
                    <p><input type="checkbox" class="check goods-check goodsCheck set-address" {if $address.default == 1}checked="checked"{/if} style="background-size: 17px 17px;" data="{$address.id}"> <em style="padding-left:24px;">默认地址</em></p>
                </div>
                <div class="aui-Address-box-item-ft del-address" data="{$address.id}">
                    <p>删除</p>
                </div>
            </div>
        </div>
        {/volist}
        <div class="aui-out">
            <a href="{:addonUrl('editAddress')}">新建收货地址</a>
        </div>
    </section>


    <script type="text/javascript" src="__ADDONSTATIC__js/jquery.min.js"></script>
    <script type="text/javascript" src="__ADDONSTATIC__js/aui.js"></script>
    {js href='__STATIC__layui/layui.js' /}
    <script type="text/javascript">
        /**
         * Javascript API调用Tab
         */
        !function ($) {
            var $tab = $('#J_Tab');

            $tab.tab({
                nav: '.tab-nav-item',
                panel: '.tab-panel-item',
                activeClass: 'tab-active'
            });
            /*
             $tab.find('.tab-nav-item').on('open.ydui.tab', function (e) {
             console.log('索引：%s - [%s]正在打开', e.index, $(this).text());
             });
             */
            $tab.find('.tab-nav-item').on('opened.ydui.tab', function (e) {
                console.log('索引：%s - [%s]已经打开了', e.index, $(this).text());
            });
        }(jQuery);
        var layer;
        layui.use('layer',function () {
            layer = layui.layer;
        })
        $(".del-address").click(function(){
            var _this = $(this);
            $.post("{:addonUrl('delAddress')}",{
                id:_this.attr("data"),
            },function(data){
                _this.parent().parent().remove();
                layer.msg(data.msg);
            });
        });

        $(".set-address").click(function(){
            var _this = $(this);
            $.post("{:addonUrl('setAddress')}",{
                id:_this.attr("data"),
            },function(data){

            });
        }); 

        $(".aui-Address-box").click(function(){
            window.location.href="{:addonUrl('settlement')}/address_id/"+$(this).find(".set-address").attr('data');            
        });              
    </script>
    <script type="text/javascript">
        var shareTitel  = '';
        var shareDesc   = '';
        var shareLink   = 'http://'+window.location.hostname+'/app/weshop/index/login/mid/{$mpInfo.id}';
        var shareImgUrl = 'http://'+window.location.hostname+'/addons/weshop/static/images/login-logo.jpg';
        wx.ready(function(){
            wx.onMenuShareTimeline({
                title: shareTitel, // 分享标题
                link: shareLink, // 分享链接
                imgUrl: shareImgUrl, // 分享图标
                success: function () { 

                },
                cancel: function () { 
                
                }
            });
          wx.onMenuShareAppMessage({
              title: shareTitel, // 分享标题
              desc: shareDesc, // 分享描述
              link: shareLink, // 分享链接
              imgUrl: shareImgUrl, // 分享图标
              type: '', // 分享类型,music、video或link，不填默认为link
              dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
              success: function () { 
            
              },
              cancel: function () { 

              }
          });
            wx.onMenuShareQQ({
              title: shareTitel, // 分享标题
              desc: shareDesc, // 分享描述
              link: shareLink, // 分享链接
              imgUrl: shareImgUrl, // 分享图标
              success: function () { 
                                   
              },
              cancel: function () { 
                
              }
          });
          wx.onMenuShareWeibo({
              title: shareTitel, // 分享标题
              desc: shareDesc, // 分享描述
              link: shareLink, // 分享链接
              imgUrl: shareImgUrl, // 分享图标
              success: function () { 
                                  
              },
              cancel: function () { 
                
              }
          });
          wx.onMenuShareQZone({
              title: shareTitel, // 分享标题
              desc: shareDesc, // 分享描述
              link: shareLink, // 分享链接
              imgUrl: shareImgUrl, // 分享图标
              success: function () { 
                                 
              },
              cancel: function () { 

              }
          });
        });
    </script>
</body>
</html>