<!DOCTYPE>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no, email=no">    
    <title>评价</title>
    {include file="common/base" /}
    <link rel="stylesheet" type="text/css" href="__ADDONSTATIC__css/star.css">
    <style type="text/css">
        .aui-list-product-fl-img img {
            height: auto;
        }
    </style>
</head>
<body>
    <header class="aui-header-default aui-header-fixed ">
        <a href="javascript:history.back(-1)" class="aui-header-item">
            <i class="aui-icon aui-icon-back"></i>
        </a>
        <div class="aui-header-center aui-header-center-clear">
            <div class="aui-header-center-logo">
                <div class="">评价</div>
            </div>
        </div>
    </header>
    <section class="aui-myOrder-content">
        <input type="hidden" id="order_id" value="{$orderRow.id}">
        <div class="m-tab demo-small-pitch" data-ydui-tab="">          
            <div class="tab-panel">
                <div class="tab-panel-item tab-active">
                    <ul data="all">                      
                        <li>                                
                            <div class="aui-list-title-info">
                                <a href="javascript:;" class="aui-well ">
                                    <div class="aui-well-bd">{$orderRow.date}</div>                                    
                                </a>
                                {volist name="orderRow.goodsInfo" id="goods"}
                                <a href="javascript:;" class="aui-list-product-fl-item">
                                    <div class="aui-list-product-fl-img">
                                        <img src="{$goods.image}" alt="">
                                    </div>
                                    <div class="aui-list-product-fl-text">
                                        <h3 class="aui-list-product-fl-title">{$goods.title}</h3>
                                        <div class="aui-list-product-fl-mes">
                                            <div>
                                                <span class="aui-list-product-item-price">
                                                    <em>¥</em>
                                                    {$goods.price}
                                                </span>
                                            </div>
                                            <div class="aui-btn-purchase">
                                                x{$goods.count}
                                            </div>
                                        </div>
                                    </div>                                        
                                </a>
                                {/volist}
                            </div>
                            <div class="aui-dri"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div>
            <div id="startone" class="block clearfix">
                <span class="comment-title">描述相符：</span>
                <div class="star_score"></div>
                <span class="hide fenshu"></span>
            </div>
            <div id="starttwo" class="block clearfix">
                <span class="comment-title">服务态度：</span>
                <div class="star_score"></div>
                <span class="hide fenshu"></span>
            </div>
            <div id="startthree" class="block clearfix">
                <span class="comment-title">发货速度：</span>
                <div class="star_score"></div>
                <span class="hide fenshu"></span>
            </div>
            <div class="clear">
                <span class="comment-content">内容：</span>                
                <textarea name="content" rows="5"></textarea>                               
            </div>
            <div class="clear">
                <input type="button" class="comment-sub" value="提交评论">                                
            </div>
        </div>
    </section>
    {js href='__ADDONSTATIC__js/jquery.min.js' /}
    {js href='__STATIC__layui/layui.js' /}
    {js href='__ADDONSTATIC__js/startScore.js' /}
    <script type="text/javascript">
        var layer;
        layui.use('layer',function () {
            layer = layui.layer;
        })        
        scoreFun($("#startone"),{
           fen_d:22,//每一个a的宽度
           ScoreGrade:5//a的个数 10或者
        })
        scoreFun($("#starttwo"),{
           fen_d:22,//每一个a的宽度
           ScoreGrade:5//a的个数 10或者
        })
        scoreFun($("#startthree"),{
           fen_d:22,//每一个a的宽度
           ScoreGrade:5//a的个数 10或者
        })

        $(".comment-sub").click(function(){
            if($("#startone .fenshu").text() == ''){
                layer.msg("请选择描述相符星级");
                return false;
            }
            if($("#starttwo .fenshu").text() == ''){
                layer.msg("请选择服务态度星级");
                return false;
            }
            if($("#startthree .fenshu").text() == ''){
                layer.msg("请选择发货速度星级");
                return false;
            }
            $.post("{:addonUrl('commentPost')}",{
                order_id:$("#order_id").val(),
                content:$("textarea[name='content']").val(),
                star1:parseInt($("#startone .fenshu").text()),
                star2:parseInt($("#starttwo .fenshu").text()),
                star3:parseInt($("#startthree .fenshu").text()),
            },function(data){
                layer.msg(data.msg);
                setTimeout(function(){
                    window.history.go(-1);
                },1000);
            });
        });
    </script>
    <script type="text/javascript">
        var shareTitel  = '';
        var shareDesc   = '';
        var shareLink   = 'http://'+window.location.hostname+'/app/weshop/index/login/mid/{$mpInfo.id}';
        var shareImgUrl = 'http://'+window.location.hostname+'/addons/weshop/static/images/login-logo.jpg';
        wx.ready(function(){
            wx.onMenuShareTimeline({
                title: shareTitel, // 分享标题
                link: shareLink, // 分享链接
                imgUrl: shareImgUrl, // 分享图标
                success: function () { 

                },
                cancel: function () { 
                
                }
            });
          wx.onMenuShareAppMessage({
              title: shareTitel, // 分享标题
              desc: shareDesc, // 分享描述
              link: shareLink, // 分享链接
              imgUrl: shareImgUrl, // 分享图标
              type: '', // 分享类型,music、video或link，不填默认为link
              dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
              success: function () { 
            
              },
              cancel: function () { 

              }
          });
            wx.onMenuShareQQ({
              title: shareTitel, // 分享标题
              desc: shareDesc, // 分享描述
              link: shareLink, // 分享链接
              imgUrl: shareImgUrl, // 分享图标
              success: function () { 
                                   
              },
              cancel: function () { 
                
              }
          });
          wx.onMenuShareWeibo({
              title: shareTitel, // 分享标题
              desc: shareDesc, // 分享描述
              link: shareLink, // 分享链接
              imgUrl: shareImgUrl, // 分享图标
              success: function () { 
                                  
              },
              cancel: function () { 
                
              }
          });
          wx.onMenuShareQZone({
              title: shareTitel, // 分享标题
              desc: shareDesc, // 分享描述
              link: shareLink, // 分享链接
              imgUrl: shareImgUrl, // 分享图标
              success: function () { 
                                 
              },
              cancel: function () { 

              }
          });
        });
    </script>
</body>
</html>