<!DOCTYPE>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no, email=no">    
    <title>购物车</title>
    {include file="common/base" /}
</head>
<body>
    <header class="aui-header-default aui-header-fixed ">
        <a href="javascript:history.back(-1)" class="aui-header-item">
            <i class="aui-icon aui-icon-back"></i>
        </a>
        <div class="aui-header-center aui-header-center-clear">
            <div class="aui-header-center-logo">
                <div class="">购物车({$count})</div>
            </div>
        </div>
    </header>
    <section class="aui-car-content">
        <div class="aui-dri"></div>
        <div class="aui-car-box">
            <div class="aui-car-box-name">
                <input type="checkbox" class="check goods-check shopCheck">
                <div class="aui-car-coupons">
                    <a href="javascript:;" id="del-car">删除</a>
                </div>
            </div>
            <div class="aui-car-box-list">
                <form action="{:addonUrl('settlement')}" method="post" id="settlement">
                <ul>
                    {volist name="itemList" id="goods"}
                    <li>
                        <div class="aui-car-box-list-item shop-info">
                            <input type="checkbox" class="check goods-check goodsCheck" name="car_id[]" value="{$goods.id}" data="{$goods.id}">
                            <div class="aui-car-box-list-img">
                                <a href="ui-product.html">
                                    <img src="{$goods.goods.image}" alt="">
                                </a>
                            </div>
                            <div class="aui-car-box-list-text">
                                <h4>
                                    <a href="javascript:;">{$goods.goods.title}</a>
                                </h4>
                                <div class="aui-car-box-list-text-price">
                                    <div class="aui-car-box-list-text-pri">
                                        ￥<b class="price">{$goods.goods.price}</b>
                                    </div>
                                    <div class="aui-car-box-list-text-arithmetic">
                                        <a href="javascript:;" class="minus">-</a>
                                        <span class="num">{$goods.count}</span>
                                        <a href="javascript:;" class="plus">+</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="aui-dri"></div>
                    </li>
                    {/volist}
                </ul>
                </form>
            </div>
        </div>
    </section>
    <div class="aui-payment-bar">
        <div class="all-checkbox"><input type="checkbox" class="check goods-check" id="AllCheck">全选</div>
        <div class="shop-total">
            <strong>合计：<i class="total" id="AllTotal">0</i></strong>
        </div>
        <a href="javascript:;" class="settlement">去结算</a>
    </div>
    {js href='__ADDONSTATIC__js/jquery.min.js' /}
    {js href='__STATIC__layui/layui.js' /}
    {js href='__ADDONSTATIC__js/aui-car.js' /}    
    <script type="text/javascript">
        var layer;
        layui.use('layer',function () {
            layer = layui.layer;
        }) 
        // 点击删除按钮
        $("#del-car").click(function() {            
            $(".aui-car-box").find(".goodsCheck").each(function() { //循环店铺里面的商品
                var _this = $(this);
                if (_this.is(":checked")) { //如果该商品被选中
                    $.post("{:addonUrl('delCar')}",{
                        id:_this.attr('data'),
                    },function(data){
                        _this.parent().parent().remove();
                        TotalPrice();
                        layer.msg(data.msg);
                    });
                }
            });
        }); 

        $(".settlement").click(function(){
            var num = 0;
            $(".aui-car-box").find(".goodsCheck").each(function() { //循环店铺里面的商品
                var _this = $(this);
                if (_this.is(":checked")) { //如果该商品被选中                    
                    num = num + 1;                                       
                }
            });
            if(num == 0){
                layer.msg("请选择商品");
                return false;
            }
            $("#settlement").submit();
        });   

        $(".minus").click(function(){
            var num = $(this).parent().find('.num').text();            
            $.post("{:addonUrl('editCar')}",{
                id:$(this).parent().parent().parent().parent().find('.goodsCheck').val(),
                type:0
            },function(data){
                if(parseInt(num)-1 == 0){
                    window.location.reload();
                }
            });
        });

        $(".plus").click(function(){
            $.post("{:addonUrl('editCar')}",{
                id:$(this).parent().parent().parent().parent().find('.goodsCheck').val(),
                type:1
            },function(data){
                layer.msg(data.msg);
            });
        });     
    </script>
    <script type="text/javascript">
        var shareTitel  = '';
        var shareDesc   = '';
        var shareLink   = 'http://'+window.location.hostname+'/app/weshop/index/login/mid/{$mpInfo.id}';
        var shareImgUrl = 'http://'+window.location.hostname+'/addons/weshop/static/images/login-logo.jpg';
        wx.ready(function(){
            wx.onMenuShareTimeline({
                title: shareTitel, // 分享标题
                link: shareLink, // 分享链接
                imgUrl: shareImgUrl, // 分享图标
                success: function () { 

                },
                cancel: function () { 
                
                }
            });
          wx.onMenuShareAppMessage({
              title: shareTitel, // 分享标题
              desc: shareDesc, // 分享描述
              link: shareLink, // 分享链接
              imgUrl: shareImgUrl, // 分享图标
              type: '', // 分享类型,music、video或link，不填默认为link
              dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
              success: function () { 
            
              },
              cancel: function () { 

              }
          });
            wx.onMenuShareQQ({
              title: shareTitel, // 分享标题
              desc: shareDesc, // 分享描述
              link: shareLink, // 分享链接
              imgUrl: shareImgUrl, // 分享图标
              success: function () { 
                                   
              },
              cancel: function () { 
                
              }
          });
          wx.onMenuShareWeibo({
              title: shareTitel, // 分享标题
              desc: shareDesc, // 分享描述
              link: shareLink, // 分享链接
              imgUrl: shareImgUrl, // 分享图标
              success: function () { 
                                  
              },
              cancel: function () { 
                
              }
          });
          wx.onMenuShareQZone({
              title: shareTitel, // 分享标题
              desc: shareDesc, // 分享描述
              link: shareLink, // 分享链接
              imgUrl: shareImgUrl, // 分享图标
              success: function () { 
                                 
              },
              cancel: function () { 

              }
          });
        });
    </script>
</body>
</html>