<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no, email=no">    
    <title>首页</title>   
    {include file="common/base" /}
</head>
<body>
    <header class="aui-header-default aui-header-fixed aui-header-clear-bg">
        <div class="aui-header-center aui-header-center-clear">
            <div class="aui-header-search-box">
                <i class="aui-icon aui-icon-small-search"></i>
                <input id="" type="text" placeholder="" class="aui-header-search">
            </div>
        </div>
        <div id="scrollBg"></div>
    </header>
    <div class="aui-content-box">
        <div class="aui-banner-content " data-aui-slider="">
            <div class="aui-banner-wrapper">
                {volist name="bannerList" id="banner"}
                <div class="aui-banner-wrapper-item">
                    <a href="{if $banner.url == ''}#{else}{$banner.url}{/if}">
                        <img src="{$banner.images}">
                    </a>
                </div>
                {/volist}
            </div>
        </div>
        <section class="aui-grid-content">
            <div class="aui-grid-row aui-grid-row-clears">
                {volist name="typeList" id="type"}
                <a href="{:addonUrl('typeList',['type'=>$type['id']])}" class="aui-grid-row-item">
                    <img src="{$type.icon}" class="aui-icon-large">
                    <p class="aui-grid-row-label">{$type.title}</p>
                </a>
                {/volist}
            </div>
        </section>
        {volist name="typeList" id="type"}
        <div class="aui-recommend">
            <i class="line-title title-left"></i>{$type.title}<i class="line-title title-right"></i>
        </div>
        <section class="aui-list-product">
            <div class="aui-list-product-box">
                {volist name="type.goodsList" id="goods"}
                <a href="{:addonUrl('goods',['id'=>$goods['id']])}" class="aui-list-product-item">
                    <div class="aui-list-product-item-img">
                        <img src="{$goods.images}" alt="">
                    </div>
                    <div class="aui-list-product-item-text">
                        <h3>{$goods.title}</h3>
                        <div class="aui-list-product-mes-box">
                            <div>
                                <span class="aui-list-product-item-price">
                                    <em>¥</em>
                                    {$goods.price}
                                </span>
                                <!-- <span class="aui-list-product-item-del-price">
                                    ¥{$goods.price}
                                </span> -->
                            </div>
                            <!-- <div class="aui-comment">评论</div> -->
                        </div>
                    </div>
                </a>                
                {/volist}
            </div>
        </section>
        {/volist}
    </div>    
    {include file="common/footer" /}
    <script type="text/javascript" src="__ADDONSTATIC__js/jquery.min.js"></script>
    <script type="text/javascript" src="__ADDONSTATIC__js/aui.js"></script>
    <script type="text/javascript">
        $(function () {
            //绑定滚动条事件
            //绑定滚动条事件
            $(window).bind("scroll", function () {
                var sTop = $(window).scrollTop();
                var sTop = parseInt(sTop);
                if (sTop >= 40) {
                    if (!$("#scrollBg").is(":visible")) {
                        try {
                            $("#scrollBg").slideDown();
                        } catch (e) {
                            $("#scrollBg").show();
                        }
                    }
                }
                else {
                    if ($("#scrollBg").is(":visible")) {
                        try {
                            $("#scrollBg").slideUp();
                        } catch (e) {
                            $("#scrollBg").hide();
                        }
                    }
                }
            });
        })
    </script>
    <script type="text/javascript">
        var shareTitel  = '';
        var shareDesc   = '';
        var shareLink   = 'http://'+window.location.hostname+'/app/weshop/index/login/mid/{$mpInfo.id}';
        var shareImgUrl = 'http://'+window.location.hostname+'/addons/weshop/static/images/login-logo.jpg';
        wx.ready(function(){
            wx.onMenuShareTimeline({
                title: shareTitel, // 分享标题
                link: shareLink, // 分享链接
                imgUrl: shareImgUrl, // 分享图标
                success: function () { 

                },
                cancel: function () { 
                
                }
            });
          wx.onMenuShareAppMessage({
              title: shareTitel, // 分享标题
              desc: shareDesc, // 分享描述
              link: shareLink, // 分享链接
              imgUrl: shareImgUrl, // 分享图标
              type: '', // 分享类型,music、video或link，不填默认为link
              dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
              success: function () { 
            
              },
              cancel: function () { 

              }
          });
            wx.onMenuShareQQ({
              title: shareTitel, // 分享标题
              desc: shareDesc, // 分享描述
              link: shareLink, // 分享链接
              imgUrl: shareImgUrl, // 分享图标
              success: function () { 
                                   
              },
              cancel: function () { 
                
              }
          });
          wx.onMenuShareWeibo({
              title: shareTitel, // 分享标题
              desc: shareDesc, // 分享描述
              link: shareLink, // 分享链接
              imgUrl: shareImgUrl, // 分享图标
              success: function () { 
                                  
              },
              cancel: function () { 
                
              }
          });
          wx.onMenuShareQZone({
              title: shareTitel, // 分享标题
              desc: shareDesc, // 分享描述
              link: shareLink, // 分享链接
              imgUrl: shareImgUrl, // 分享图标
              success: function () { 
                                 
              },
              cancel: function () { 

              }
          });
        });
    </script>
</body>
</html>