<!DOCTYPE>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no, email=no">    
    <title>快递信息</title>
    {include file="common/base" /}
</head>
<body>
    <header class="aui-header-default aui-header-fixed ">
        <a href="javascript:history.back(-1)" class="aui-header-item">
            <i class="aui-icon aui-icon-back"></i>
        </a>
        <div class="aui-header-center aui-header-center-clear">
            <div class="aui-header-center-logo">
                <div class="">快递信息</div>
            </div>
        </div>
    </header>
    <section class="aui-address-content">
        <div class="aui-list-product-float-item">
            {volist name="itemList" id="goods"}
            <a href="javascript:;" class="aui-list-product-fl-item" data="{$goods.goods.price}" data-count="{$goods.count}" data-freight="{$goods.goods.freight}">
                <div class="aui-list-product-fl-img">
                    <img src="{$goods.goods.image}" alt="" style="width: 80px;height: 80px;">
                </div>
                <div class="aui-list-product-fl-text">
                    <h3 class="aui-list-product-fl-title">{$goods.goods.title}</h3>
                    <div class="aui-list-product-fl-mes">
                        <div>
                            <span class="aui-list-product-item-price">
                                <em>¥</em>
                                {$goods.goods.price}
                            </span>
                        </div>
                        <div class="aui-btn-purchase">
                            <span>数量 {$goods.count}</span>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="goodsId" value="{$goods.goods.id}">
            </a>
            {/volist}
        </div>
    </section>
    {js href='__ADDONSTATIC__js/jquery.min.js' /}
    {js href='__STATIC__layui/layui.js' /}
    <script type="text/javascript">
        var layer;
        layui.use('layer',function () {
            layer = layui.layer;
        })        
    </script>
    <script type="text/javascript">
        var shareTitel  = '';
        var shareDesc   = '';
        var shareLink   = 'http://'+window.location.hostname+'/app/weshop/index/login/mid/{$mpInfo.id}';
        var shareImgUrl = 'http://'+window.location.hostname+'/addons/weshop/static/images/login-logo.jpg';
        wx.ready(function(){
            wx.onMenuShareTimeline({
                title: shareTitel, // 分享标题
                link: shareLink, // 分享链接
                imgUrl: shareImgUrl, // 分享图标
                success: function () { 

                },
                cancel: function () { 
                
                }
            });
          wx.onMenuShareAppMessage({
              title: shareTitel, // 分享标题
              desc: shareDesc, // 分享描述
              link: shareLink, // 分享链接
              imgUrl: shareImgUrl, // 分享图标
              type: '', // 分享类型,music、video或link，不填默认为link
              dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
              success: function () { 
            
              },
              cancel: function () { 

              }
          });
            wx.onMenuShareQQ({
              title: shareTitel, // 分享标题
              desc: shareDesc, // 分享描述
              link: shareLink, // 分享链接
              imgUrl: shareImgUrl, // 分享图标
              success: function () { 
                                   
              },
              cancel: function () { 
                
              }
          });
          wx.onMenuShareWeibo({
              title: shareTitel, // 分享标题
              desc: shareDesc, // 分享描述
              link: shareLink, // 分享链接
              imgUrl: shareImgUrl, // 分享图标
              success: function () { 
                                  
              },
              cancel: function () { 
                
              }
          });
          wx.onMenuShareQZone({
              title: shareTitel, // 分享标题
              desc: shareDesc, // 分享描述
              link: shareLink, // 分享链接
              imgUrl: shareImgUrl, // 分享图标
              success: function () { 
                                 
              },
              cancel: function () { 

              }
          });
        });
    </script>
</body>
</html>