<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no, email=no">    
    <title>我的订单</title>
    {CSS href="__STATIC__layui/css/layui.css" /}
    <link rel="stylesheet" href="__STATIC__css/core.css">
    <link rel="stylesheet" href="__STATIC__css/icon.css">
    <link rel="stylesheet" href="__STATIC__css/home.css">
    <link rel="icon" type="image/x-icon" href="">
    <link href="" sizes="114x114" rel="apple-touch-icon-precomposed">
    <style type="text/css">
        .mui-pull-bottom-tips {
            text-align: center;
            background-color: #efeff4;
            font-size: 15px;
            line-height: 40px;
            color: #777;
        }        
    </style>
    {:hook('Jssdk')}
</head>
<body>
    <header class="aui-header-default aui-header-fixed ">
        <a href="javascript:history.back(-1)" class="aui-header-item">
            <i class="aui-icon aui-icon-back"></i>
        </a>
        <div class="aui-header-center aui-header-center-clear">
            <div class="aui-header-center-logo">
                <div class="">我的订单</div>
            </div>
        </div>
    </header>

    <section class="aui-myOrder-content">
        <div class="m-tab demo-small-pitch" data-ydui-tab="">
            <div class="aui-myOrder-fix">
                <ul class="tab-nav">
                    <li class="tab-nav-item tab-active"><a href="javascript:;">全部</a></li>
                    <li class="tab-nav-item"><a href="javascript:;">待付款</a></li>
                    <li class="tab-nav-item"><a href="javascript:;">待发货</a></li>
                    <li class="tab-nav-item"><a href="javascript:;">待收货</a></li>
                    <li class="tab-nav-item"><a href="javascript:;">评价</a></li>
                </ul>
            </div>            
            <div class="tab-panel">
                <div class="tab-panel-item tab-active" id="pullrefresh">
                    <ul data="all">
                        {volist name="orderList" id="order"}                        
                        <li data="{$order.is_comment}">                                
                            <div class="aui-list-title-info">
                                <a href="javascript:;" class="aui-well ">
                                    <div class="aui-well-bd">{$order.date}</div>
                                    <div class="aui-well-ft">
                                        {if $order.status == 0}
                                            待付款
                                        {elseif $order.is_send == 0}
                                            待发货
                                        {elseif $order.is_finish == 0}
                                            待收货
                                        {elseif $order.is_comment == 0}
                                            待评价
                                        {else}
                                            已完成
                                        {/if}
                                    </div>
                                </a>
                                {volist name="order.goodsInfo" id="goods"}
                                <a href="javascript:;" class="aui-list-product-fl-item">
                                    <div class="aui-list-product-fl-img">
                                        <img src="{$goods.image}" alt="">
                                    </div>
                                    <div class="aui-list-product-fl-text">
                                        <h3 class="aui-list-product-fl-title">{$goods.title}</h3>
                                        <div class="aui-list-product-fl-mes">
                                            <div>
                                                <span class="aui-list-product-item-price">
                                                    <em>¥</em>
                                                    {$goods.price}
                                                </span>
                                            </div>
                                            <div class="aui-btn-purchase">
                                                x{$goods.count}
                                            </div>
                                        </div>
                                    </div>                                        
                                </a>
                                {/volist}
                            </div>
                            <div class="aui-list-title-btn">
                                {if $order.status == 1}
                                    {if $order.is_send == 1}
                                        <!-- <a href="{:addonUrl('logistics',['id'=>$order.id])}" class="logistics-btn">查看物流</a> -->
                                    {/if}
                                    {if $order.is_finish == 0}
                                    <a href="javascript:;" class="sub-btn red-color" data="{$order.id}">确认收货</a>
                                    {else}
                                        {if $order.is_comment == 0}
                                            <a href="{:url('/app/weshop/index/comment',['id'=>$order.id])}" class="red-color">评价</a>
                                        {else}
                                            已完成
                                        {/if}
                                    {/if}
                                {else}
                                    <a href="javascript:;" class="cancel-btn" data="{$order.id}">取消订单</a>
                                    <input type="submit" class="red-color pay-btn" value="立即付款">
                                    <input type="hidden" name="money" value="{$order.money}">
                                    <input type="hidden" name="title" value="{$order.title}">
                                    <input type="hidden" name="order_id" value="{$order.id}">
                                {/if}
                            </div>
                            <div class="aui-dri"></div>
                        </li>                        
                        {/volist}
                    </ul>
                </div>
                <div class="tab-panel-item">
                    <ul data="waitepay">
                        {volist name="orderList" id="order"}
                        {if $order.status == 0}
                        <li>
                            <div class="aui-list-title-info">
                                <a href="javascript:;" class="aui-well ">
                                    <div class="aui-well-bd">{$order.date}</div>
                                    <div class="aui-well-ft">待付款</div>
                                </a>
                                {volist name="order.goodsInfo" id="goods"}
                                <a href="javascript:;" class="aui-list-product-fl-item">
                                    <div class="aui-list-product-fl-img">
                                        <img src="{$goods.image}" alt="">
                                    </div>
                                    <div class="aui-list-product-fl-text">
                                        <h3 class="aui-list-product-fl-title">{$goods.title}</h3>
                                        <div class="aui-list-product-fl-mes">
                                            <div>
                                                <span class="aui-list-product-item-price">
                                                    <em>¥</em>
                                                    {$goods.price}
                                                </span>
                                            </div>
                                            <div class="aui-btn-purchase">
                                                x{$goods.count}
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                {/volist}
                            </div>
                            <div class="aui-list-title-btn">
                                <a href="javascript:;" class="cancel-btn" data="{$order.id}">取消订单</a>
                                <input type="submit" class="red-color pay-btn" value="立即付款">  
                                <input type="hidden" name="money" value="{$order.money}">
                                <input type="hidden" name="title" value="{$order.title}">
                                <input type="hidden" name="order_id" value="{$order.id}">                              
                            </div>
                            <div class="aui-dri"></div>
                        </li>                        
                        {/if}
                        {/volist}
                    </ul>
                </div>
                <div class="tab-panel-item">
                    <ul data="waitesend">
                        {volist name="orderList" id="order"}
                        {if $order.status == 1 && $order.is_send == 0}
                        <li>
                            <div class="aui-list-title-info">
                                <a href="javascript:;" class="aui-well ">
                                    <div class="aui-well-bd">{$order.date}</div>
                                    <div class="aui-well-ft">待发货</div>
                                </a>
                                {volist name="order.goodsInfo" id="goods"}
                                <a href="javascript:;" class="aui-list-product-fl-item">
                                    <div class="aui-list-product-fl-img">
                                        <img src="{$goods.image}" alt="">
                                    </div>
                                    <div class="aui-list-product-fl-text">
                                        <h3 class="aui-list-product-fl-title">{$goods.title}</h3>
                                        <div class="aui-list-product-fl-mes">
                                            <div>
                                                <span class="aui-list-product-item-price">
                                                    <em>¥</em>
                                                    {$goods.price}
                                                </span>
                                            </div>
                                            <div class="aui-btn-purchase">
                                                x{$goods.count}
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                {/volist}
                            </div>
                            <div class="aui-list-title-btn">
                                <!-- <a href="javascript:;" class="send-logistics-btn" data="{$order.id}">催物流</a> -->
                                <a href="javascript:;" class="sub-btn red-color" data="{$order.id}">确认收货</a>
                            </div>
                            <div class="aui-dri"></div>
                        </li>
                        {/if}
                        {/volist}
                    </ul>
                </div>
                <div class="tab-panel-item">
                    <ul data="waiterecieve">
                        {volist name="orderList" id="order"}
                        {if $order.status == 1 && $order.is_send == 1 && $order.is_finish == 0}
                        <li>
                            <div class="aui-list-title-info">
                                <a href="javascript:;" class="aui-well ">
                                    <div class="aui-well-bd">{$order.date}</div>
                                    <div class="aui-well-ft">待收货</div>
                                </a>
                                {volist name="order.goodsInfo" id="goods"}
                                <a href="javascript:;" class="aui-list-product-fl-item">
                                    <div class="aui-list-product-fl-img">
                                        <img src="{$goods.image}" alt="">
                                    </div>
                                    <div class="aui-list-product-fl-text">
                                        <h3 class="aui-list-product-fl-title">{$goods.title}</h3>
                                        <div class="aui-list-product-fl-mes">
                                            <div>
                                                <span class="aui-list-product-item-price">
                                                    <em>¥</em>
                                                    {$goods.price}
                                                </span>
                                            </div>
                                            <div class="aui-btn-purchase">
                                                x{$goods.count}
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                {/volist}
                            </div>
                            <div class="aui-list-title-btn">
                                <!-- <a href="javascript:;" class="logistics-btn" data="{$order.id}">查看物流</a> -->
                                <a href="javascript:;" class="sub-btn red-color" data="{$order.id}">确认收货</a>
                            </div>
                            <div class="aui-dri"></div>
                        </li>
                        {/if}
                        {/volist}
                    </ul>
                </div>
                <div class="tab-panel-item">
                    <ul data="waitedone">
                        {volist name="orderList" id="order"}
                        {if $order.status == 1 && $order.is_send == 1 && $order.is_finish == 1 && $order.is_comment == 0}
                        <li>
                            <div class="aui-list-title-info">
                                <a href="javascript:;" class="aui-well ">
                                    <div class="aui-well-bd">{$order.date}</div>
                                    <div class="aui-well-ft">待评价</div>
                                </a>
                                {volist name="order.goodsInfo" id="goods"}
                                <a href="javascript:;" class="aui-list-product-fl-item">
                                    <div class="aui-list-product-fl-img">
                                        <img src="{$goods.image}" alt="">
                                    </div>
                                    <div class="aui-list-product-fl-text">
                                        <h3 class="aui-list-product-fl-title">{$goods.title}</h3>
                                        <div class="aui-list-product-fl-mes">
                                            <div>
                                                <span class="aui-list-product-item-price">
                                                    <em>¥</em>
                                                    {$goods.price}
                                                </span>
                                            </div>
                                            <div class="aui-btn-purchase">
                                                x{$goods.count}
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                {/volist}
                            </div>
                            <div class="aui-list-title-btn">
                                <a href="{:url('/app/weshop/index/comment',['id'=>$order.id])}" class="red-color">评价</a>
                            </div>
                            <div class="aui-dri"></div>
                        </li>
                        {/if}
                        {/volist}
                    </ul>
                </div>
            </div>
        </div>
    </section>
    {js href='__STATIC__jquery/jquery-1.11.0.min.js' /}
    {js href='/addons/weshop/static/js/aui.js' /}
    {js href='__STATIC__mui/js/mui.min.js' /}
    {js href='__STATIC__layui/layui.js' /}        
    <script type="text/javascript">
        /**
         * Javascript API调用Tab
         */
        !function ($) {
            var $tab = $('#J_Tab');
            $tab.tab({
                nav: '.tab-nav-item',
                panel: '.tab-panel-item',
                activeClass: 'tab-active'
            });
            $tab.find('.tab-nav-item').on('opened.ydui.tab', function (e) {
                console.log('索引：%s - [%s]已经打开了', e.index, $(this).text());
            });
        }(jQuery);

        var layer;
        layui.use('layer',function () {
            layer = layui.layer;
        })

        var last_page = 1;
        mui.init({
            pullRefresh: {
                container: '#pullrefresh',
                up: {
                    contentrefresh: '正在加载...',
                    callback: pullupRefresh
                }
            }
        });

        /**
         * 上拉加载具体业务实现
         */
        function pullupRefresh() {
            setTimeout(function() {
                last_page++;
                var lis = [];
                var table = document.body.querySelector('.tab-panel-item.tab-active ul');
                $.get("{:addonUrl('getOrder')}?page="+last_page,function (res) {
                    layui.each(res.data, function(index, item){
                        if(item.id > 0){
                            if(table.attr('data') == 'all'){
                                var li = document.createElement('li');
                                var url = "{:url('/app/weshop/index/goods')}/id/"+item.id;
                                var status = '已完成';
                                if(item.status == 0){
                                    status = '待付款';
                                }else if(item.is_send == 0){
                                    status = '待发货';
                                }else if(item.is_finish == 0){
                                    status = '待收货';
                                }else if(item.is_comment == 0){
                                    status = '待评价';
                                }
                                li.innerHTML = '<li><div class="aui-list-title-info"><a href="'+url+'" class="aui-well "><div class="aui-well-bd">'+item.date+'</div><div class="aui-well-ft">'+status+'</div></a>';
                                for (var i = 0; i < item['goodsInfo'].length; i++) {
                                    li.innerHTML += '<a href="javascript:;" class="aui-list-product-fl-item"><div class="aui-list-product-fl-img"><img src="'+item['goodsInfo'][i]['image']+'" alt=""></div><div class="aui-list-product-fl-text"><h3 class="aui-list-product-fl-title">'+item['goodsInfo'][i]['title']+'</h3><div class="aui-list-product-fl-mes"><div><span class="aui-list-product-item-price"><em>¥</em>'+item['goodsInfo'][i]['price']+'</span></div><div class="aui-btn-purchase">x'+item['goodsInfo'][i]['count']+'</div></div></div></a>';
                                }
                                li.innerHTML += '</div><div class="aui-list-title-btn">';
                                if(item.status == 1){
                                    if(item.status == 1){
                                        //li.innerHTML += '<a href="javascript:;" class="logistics-btn" data="'+item.id+'">查看物流</a>';
                                    }
                                    if(item.is_finish == 0){
                                        li.innerHTML += '<a href="javascript:;" class="sub-btn red-color" data="'+item.id+'">确认收货</a>';
                                    }else{
                                        if(item.is_comment == 0){
                                            li.innerHTML += '<a href="'+"{:url('/app/weshop/index/comment')}/id/"+item.id+'" class="red-color">评价</a>';
                                        }else{
                                            li.innerHTML += '已完成';
                                        }
                                    }                                    
                                }else{
                                    li.innerHTML += '<a href="javascript:;" class="cancel-btn" data="'+item.id+'">取消订单</a><input type="submit" class="red-color pay-btn" value="立即付款"><input type="hidden" name="money" value="'+item.money+'"><input type="hidden" name="title" value="'+item.title+'"><input type="hidden" name="order_id" value="'+item.id+'">';
                                }
                                li.innerHTML += '</div><div class="aui-dri"></div>';
                            }

                            if(table.attr('data') == 'waitepay'){
                                if(item.status == 0){
                                    var li = document.createElement('li');
                                    var url = "{:url('/app/weshop/index/goods')}/id/"+item.id;
                                    var status = '已完成';
                                    if(item.status == 0){
                                        status = '待付款';
                                    }else if(item.is_send == 0){
                                        status = '待发货';
                                    }else if(item.is_finish == 0){
                                        status = '待收货';
                                    }else if(item.is_comment == 0){
                                        status = '待评价';
                                    }
                                    li.innerHTML = '<li><div class="aui-list-title-info"><a href="'+url+'" class="aui-well "><div class="aui-well-bd">'+item.date+'</div><div class="aui-well-ft">'+status+'</div></a>';
                                    for (var i = 0; i < item['goodsInfo'].length; i++) {
                                        li.innerHTML += '<a href="javascript:;" class="aui-list-product-fl-item"><div class="aui-list-product-fl-img"><img src="'+item['goodsInfo'][i]['image']+'" alt=""></div><div class="aui-list-product-fl-text"><h3 class="aui-list-product-fl-title">'+item['goodsInfo'][i]['title']+'</h3><div class="aui-list-product-fl-mes"><div><span class="aui-list-product-item-price"><em>¥</em>'+item['goodsInfo'][i]['price']+'</span></div><div class="aui-btn-purchase">x'+item['goodsInfo'][i]['count']+'</div></div></div></a>';
                                    }
                                    li.innerHTML += '</div><div class="aui-list-title-btn">';
                                    if(item.status == 1){
                                        if(item.status == 1){
                                            //li.innerHTML += '<a href="javascript:;" class="logistics-btn" data="'+item.id+'">查看物流</a>';
                                        }
                                        if(item.is_finish == 0){
                                            li.innerHTML += '<a href="javascript:;" class="sub-btn red-color" data="'+item.id+'">确认收货</a>';
                                        }else{
                                            if(item.is_comment == 0){
                                                li.innerHTML += '<a href="'+"{:url('/app/weshop/index/comment')}/id/"+item.id+'" class="red-color">评价</a>';
                                            }else{
                                                li.innerHTML += '已完成';
                                            }
                                        } 
                                    }else{
                                        li.innerHTML += '<a href="javascript:;" class="cancel-btn" data="'+item.id+'">取消订单</a><input type="submit" class="red-color pay-btn" value="立即付款"><input type="hidden" name="money" value="'+item.money+'"><input type="hidden" name="title" value="'+item.title+'"><input type="hidden" name="order_id" value="'+item.id+'">';
                                    }
                                    li.innerHTML += '</div><div class="aui-dri"></div>';
                                }
                            }

                            if(table.attr('data') == 'waitesend'){
                                if(item.status == 1 && item.is_send == 0){
                                    var li = document.createElement('li');
                                    var url = "{:url('/app/weshop/index/goods')}/id/"+item.id;
                                    var status = '已完成';
                                    if(item.status == 0){
                                        status = '待付款';
                                    }else if(item.is_send == 0){
                                        status = '待发货';
                                    }else if(item.is_finish == 0){
                                        status = '待收货';
                                    }else if(item.is_comment == 0){
                                        status = '待评价';
                                    }
                                    li.innerHTML = '<li><div class="aui-list-title-info"><a href="'+url+'" class="aui-well "><div class="aui-well-bd">'+item.date+'</div><div class="aui-well-ft">'+status+'</div></a>';
                                    for (var i = 0; i < item['goodsInfo'].length; i++) {
                                        li.innerHTML += '<a href="javascript:;" class="aui-list-product-fl-item"><div class="aui-list-product-fl-img"><img src="'+item['goodsInfo'][i]['image']+'" alt=""></div><div class="aui-list-product-fl-text"><h3 class="aui-list-product-fl-title">'+item['goodsInfo'][i]['title']+'</h3><div class="aui-list-product-fl-mes"><div><span class="aui-list-product-item-price"><em>¥</em>'+item['goodsInfo'][i]['price']+'</span></div><div class="aui-btn-purchase">x'+item['goodsInfo'][i]['count']+'</div></div></div></a>';
                                    }
                                    li.innerHTML += '</div><div class="aui-list-title-btn">';
                                    if(item.status == 1){
                                        if(item.status == 1){
                                            //li.innerHTML += '<a href="javascript:;" class="logistics-btn" data="'+item.id+'">查看物流</a>';
                                        }
                                        li.innerHTML += '<a href="javascript:;" class="sub-btn red-color" data="'+item.id+'">确认收货</a>';
                                    }else{
                                        li.innerHTML += '<a href="javascript:;" class="cancel-btn" data="'+item.id+'">取消订单</a><a href="javascript:;" class="pay-btn red-color" data="'+item.id+'">立即付款</a>';
                                    }
                                    li.innerHTML += '</div><div class="aui-dri"></div>';
                                }
                            }

                            if(table.attr('data') == 'waitesend'){
                                if(item.status == 1 && item.is_send == 1 && item.is_finish == 0){
                                    var li = document.createElement('li');
                                    var url = "{:url('/app/weshop/index/goods')}/id/"+item.id;
                                    var status = '已完成';
                                    if(item.status == 0){
                                        status = '待付款';
                                    }else if(item.is_send == 0){
                                        status = '待发货';
                                    }else if(item.is_finish == 0){
                                        status = '待收货';
                                    }else if(item.is_comment == 0){
                                        status = '待评价';
                                    }
                                    li.innerHTML = '<li><div class="aui-list-title-info"><a href="'+url+'" class="aui-well "><div class="aui-well-bd">'+item.date+'</div><div class="aui-well-ft">'+status+'</div></a>';
                                    for (var i = 0; i < item['goodsInfo'].length; i++) {
                                        li.innerHTML += '<a href="javascript:;" class="aui-list-product-fl-item"><div class="aui-list-product-fl-img"><img src="'+item['goodsInfo'][i]['image']+'" alt=""></div><div class="aui-list-product-fl-text"><h3 class="aui-list-product-fl-title">'+item['goodsInfo'][i]['title']+'</h3><div class="aui-list-product-fl-mes"><div><span class="aui-list-product-item-price"><em>¥</em>'+item['goodsInfo'][i]['price']+'</span></div><div class="aui-btn-purchase">x'+item['goodsInfo'][i]['count']+'</div></div></div></a>';
                                    }
                                    li.innerHTML += '</div><div class="aui-list-title-btn">';
                                    if(item.status == 1){
                                        if(item.status == 1){
                                            //li.innerHTML += '<a href="javascript:;" class="logistics-btn" data="'+item.id+'">查看物流</a>';
                                        }
                                        li.innerHTML += '<a href="javascript:;" class="sub-btn red-color" data="'+item.id+'">确认收货</a>';
                                    }else{
                                        li.innerHTML += '<a href="javascript:;" class="cancel-btn" data="'+item.id+'">取消订单</a><a href="javascript:;" class="pay-btn red-color" data="'+item.id+'">立即付款</a>';
                                    }
                                    li.innerHTML += '</div><div class="aui-dri"></div>';
                                }
                            }

                            if(table.attr('data') == 'waitesend'){
                                if(item.status == 1 && item.is_send == 1 && item.is_finish == 1 && item.is_comment == 0){
                                    var li = document.createElement('li');
                                    var url = "{:url('/app/weshop/index/goods')}/id/"+item.id;
                                    var status = '已完成';
                                    if(item.status == 0){
                                        status = '待付款';
                                    }else if(item.is_send == 0){
                                        status = '待发货';
                                    }else if(item.is_finish == 0){
                                        status = '待收货';
                                    }else if(item.is_comment == 0){
                                        status = '待评价';
                                    }
                                    li.innerHTML = '<li><div class="aui-list-title-info"><a href="'+url+'" class="aui-well "><div class="aui-well-bd">'+item.date+'</div><div class="aui-well-ft">'+status+'</div></a>';
                                    for (var i = 0; i < item['goodsInfo'].length; i++) {
                                        li.innerHTML += '<a href="javascript:;" class="aui-list-product-fl-item"><div class="aui-list-product-fl-img"><img src="'+item['goodsInfo'][i]['image']+'" alt=""></div><div class="aui-list-product-fl-text"><h3 class="aui-list-product-fl-title">'+item['goodsInfo'][i]['title']+'</h3><div class="aui-list-product-fl-mes"><div><span class="aui-list-product-item-price"><em>¥</em>'+item['goodsInfo'][i]['price']+'</span></div><div class="aui-btn-purchase">x'+item['goodsInfo'][i]['count']+'</div></div></div></a>';
                                    }
                                    li.innerHTML += '</div><div class="aui-list-title-btn">';
                                    if(item.status == 1){
                                        if(item.status == 1){
                                            //li.innerHTML += '<a href="javascript:;" class="logistics-btn" data="'+item.id+'">查看物流</a>';
                                        }
                                        li.innerHTML += '<a href="javascript:;" class="sub-btn red-color" data="'+item.id+'">确认收货</a>';
                                    }else{
                                        li.innerHTML += '<a href="javascript:;" class="cancel-btn" data="'+item.id+'">取消订单</a><a href="javascript:;" class="pay-btn red-color" data="'+item.id+'">立即付款</a>';
                                    }
                                    li.innerHTML += '</div><div class="aui-dri"></div><form class="form-sub" action="'+"{:url('/app/weshop/index/settlement')}"+'" method="post"><input type="hidden" name="goods_id[]" value="'+item.id+'"></form>';
                                }
                            }
                            
                            table.appendChild(li);
                        }else{
                            mui('#pullrefresh').pullRefresh().endPullupToRefresh(true); //参数为true代表没有更多数据了。
                        }                                
                    });                        
                })
            }, 1500);
        }   
        mui('body').on('tap', 'a', function () { document.location.href = this.href; }); 

        $(".cancel-btn").click(function(){
            $.ajax({
                //提交数据的类型 POST GET
                type:"POST",
                //提交的网址
                url:"{:addonUrl('orderCancel')}",
                //提交的数据
                data:{
                    id:$(this).attr('data'),
                },
                //返回数据的格式
                datatype: "json",//"xml", "html", "script", "json", "jsonp", "text".
                //在请求之前调用的函数
                beforeSend:function(){
                    
                },
                //成功返回之后调用的函数             
                success:function(data){
                    layer.msg(data.msg);
                    setTimeout(function(){
                        window.location.reload();   
                    },1000);
                },
                //调用执行后调用的函数
                complete: function(XMLHttpRequest, textStatus){
                   
                },
                //调用出错执行的函数
                error: function(){
                    //请求出错处理
                    layer.msg(data.msg);
                }         
            });
        });

        $(".pay-btn").click(function(){
            $.post("{:url('/app/weshop/index/pay')}",{
                money:$(this).parent().find('input[name="money"]').val(),
                title:$(this).parent().find('input[name="title"]').val(),
                order_id:$(this).parent().find('input[name="order_id"]').val(),
            },function (res) {
                if(res.status==1){
                    window.location.href=res.url;
                }else{
                    layer.msg(res.msg);
                }
            })
        });

        $(".sub-btn").click(function(){
            $.post("{:url('/app/weshop/index/finish')}",{
                order_id:$(this).attr("data"),
            },function (res) {
                if(res.status==1){
                    layer.msg(res.msg);
                    setTimeout(function(){
                        window.location.reload();
                    },1000);                    
                }else{
                    layer.msg(res.msg);
                }
            })
        });
    </script>
    <script type="text/javascript">
        var shareTitel  = '';
        var shareDesc   = '';
        var shareLink   = 'http://'+window.location.hostname+'/app/weshop/index/login/mid/{$mpInfo.id}';
        var shareImgUrl = 'http://'+window.location.hostname+'/addons/weshop/static/images/login-logo.jpg';
        wx.ready(function(){
            wx.onMenuShareTimeline({
                title: shareTitel, // 分享标题
                link: shareLink, // 分享链接
                imgUrl: shareImgUrl, // 分享图标
                success: function () { 

                },
                cancel: function () { 
                
                }
            });
          wx.onMenuShareAppMessage({
              title: shareTitel, // 分享标题
              desc: shareDesc, // 分享描述
              link: shareLink, // 分享链接
              imgUrl: shareImgUrl, // 分享图标
              type: '', // 分享类型,music、video或link，不填默认为link
              dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
              success: function () { 
                   
              },
              cancel: function () { 

              }
          });
            wx.onMenuShareQQ({
              title: shareTitel, // 分享标题
              desc: shareDesc, // 分享描述
              link: shareLink, // 分享链接
              imgUrl: shareImgUrl, // 分享图标
              success: function () { 
                                   
              },
              cancel: function () { 
                
              }
          });
          wx.onMenuShareWeibo({
              title: shareTitel, // 分享标题
              desc: shareDesc, // 分享描述
              link: shareLink, // 分享链接
              imgUrl: shareImgUrl, // 分享图标
              success: function () { 
                                  
              },
              cancel: function () { 
                
              }
          });
          wx.onMenuShareQZone({
              title: shareTitel, // 分享标题
              desc: shareDesc, // 分享描述
              link: shareLink, // 分享链接
              imgUrl: shareImgUrl, // 分享图标
              success: function () { 
                                 
              },
              cancel: function () { 

              }
          });
        });
    </script>
</body>
</html>