<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no, email=no">    
    <title>分类</title>
    {include file="common/base" /}
</head>
<body>
    <header class="aui-header-default aui-header-fixed "> 
        <a href="javascript:history.back(-1)" class="aui-header-item">
            <i class="aui-icon aui-icon-back"></i>
        </a>       
        <div class="aui-header-center aui-header-center-clear">
            <div class="aui-header-search-box">
                <i class="aui-icon aui-icon-small-search"></i>
                <input id="" type="text" placeholder="" class="aui-header-search">
            </div>
        </div>
    </header>
    <section class="aui-scroll-contents">
        <div class="aui-scroll-box" data-ydui-scrolltab="">
            <div class="aui-scroll-nav">
                {volist name="typeList" id="type"}
                <a href="javascript:;" class="aui-scroll-item {if $key == 0}aui-crt crt{/if}">
                    <div class="aui-scroll-item-icon"></div>
                    <div class="aui-scroll-item-text">{$type.title}</div>
                </a>
                {/volist}
            </div>
            <div class="aui-scroll-content">
                {volist name="typeList" id="type"}
                <div class="aui-scroll-content-item">
                    <h2 class="aui-scroll-content-title">{$type.title}</h2>
                    <section class="aui-list-product">
                        <div class="aui-list-product-box">
                            {volist name="type.goodsList" id="goods"}
                            <a href="{:addonUrl('goods',['id'=>$goods['id']])}" class="aui-list-product-item">
                                <div class="aui-list-product-item-img">
                                    <img src="{$goods.images}" alt="">
                                </div>
                                <div class="aui-list-product-item-text">
                                    <h3>{$goods.title}</h3>
                                    <div class="aui-list-product-mes-box">
                                        <div>
                                            <span class="aui-list-product-item-price">
                                                <em>¥</em>
                                                {$goods.price}
                                            </span>                                            
                                        </div>
                                        <!-- <div class="aui-comment">评论</div> -->
                                    </div>
                                </div>
                            </a>                
                            {/volist}
                        </div>
                    </section>
                </div>
                {/volist}
            </div>
        </div>
    </section>
    {include file="common/footer" /}
    {js href='__ADDONSTATIC__js/jquery.min.js' /}
    {js href='__ADDONSTATIC__js/aui.js' /}
    <script type="text/javascript">
        var shareTitel  = '';
        var shareDesc   = '';
        var shareLink   = 'http://'+window.location.hostname+'/app/weshop/index/login/mid/{$mpInfo.id}';
        var shareImgUrl = 'http://'+window.location.hostname+'/addons/weshop/static/images/login-logo.jpg';
        wx.ready(function(){
            wx.onMenuShareTimeline({
                title: shareTitel, // 分享标题
                link: shareLink, // 分享链接
                imgUrl: shareImgUrl, // 分享图标
                success: function () { 

                },
                cancel: function () { 
                
                }
            });
          wx.onMenuShareAppMessage({
              title: shareTitel, // 分享标题
              desc: shareDesc, // 分享描述
              link: shareLink, // 分享链接
              imgUrl: shareImgUrl, // 分享图标
              type: '', // 分享类型,music、video或link，不填默认为link
              dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
              success: function () { 
            
              },
              cancel: function () { 

              }
          });
            wx.onMenuShareQQ({
              title: shareTitel, // 分享标题
              desc: shareDesc, // 分享描述
              link: shareLink, // 分享链接
              imgUrl: shareImgUrl, // 分享图标
              success: function () { 
                                   
              },
              cancel: function () { 
                
              }
          });
          wx.onMenuShareWeibo({
              title: shareTitel, // 分享标题
              desc: shareDesc, // 分享描述
              link: shareLink, // 分享链接
              imgUrl: shareImgUrl, // 分享图标
              success: function () { 
                                  
              },
              cancel: function () { 
                
              }
          });
          wx.onMenuShareQZone({
              title: shareTitel, // 分享标题
              desc: shareDesc, // 分享描述
              link: shareLink, // 分享链接
              imgUrl: shareImgUrl, // 分享图标
              success: function () { 
                                 
              },
              cancel: function () { 

              }
          });
        });
    </script>
</body>
</html>