.layui-form{
	padding: 10px;
	margin-top: 5%;
}
.grid-img{
	text-align: center;
	padding-top: 20px;
}
.grid-img img{
	width: 50%;
}
.code-btn{
	position: absolute;
	right: 0;
	top: 0;
}
.layui-btn{
	background: #85ae84;
	border-radius: 0;
}
.layui-form-label{
	width: 78px;
	color: #85ae84;
	background: url(../images/login-title-bg.png) left top no-repeat;
	border:1px solid #e0e0e0; 
}
.layui-input-block{
	border-top:1px solid #e0e0e0; 
	border-right:1px solid #e0e0e0; 
	border-bottom:1px solid #e0e0e0; 	
}
.layui-input-block input{
	background: #e0e0e0;
	border: 0;
    border-radius: 0;
}