{extend name="base/common"/}
{block name="title"}忘记密码 - {$webname} - {$description}{/block}
{block name="css"}
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/theme.css">
{/block}
{block name="content"}
	<form class="login-form" action="" method="post">
        <div class="login-input-box">
		    <div class="logo">
                <p>找回密码</p>
            </div>
            <div class="line1">
                <img src="__IMG__/user.png">
                <input type="text" class="user" value="用户名" onfocus="if(value=='用户名') {value=''}" onblur="if (value=='') {value='用户名'}" data-role="none">
            </div>
            <div class="line3">
                <img src="__IMG__/mail.png">
                <input type="text" class="mail" value="注册邮箱" onfocus="if(value=='注册邮箱') {value=''}" onblur="if (value=='') {value='注册邮箱'}" data-role="none">
            </div>
            <div class="line2">
                <img src="__IMG__/phone.png">
                <input type="text" class="lock" value="手机号" onfocus="if(value=='手机号') {value=''}" onblur="if (value=='') {value='手机号'}" data-role="none">
            </div>
            <div class="line3">
                <img src="__IMG__/message.png">
                <input type="text" class="lock" value="短信校验码" onfocus="if(value=='短信校验码') {value=''}" onblur="if (value=='') {value='短信校验码'}" data-role="none">
                <input data-inline="true" id="btn"  type="button" value="点击获取">

            </div>

            <div class="chose">
                <a class="register" data-role="none" ></a>
                <a class="forgive" data-role="none"></a>
                <a href="login.html" data-ajax="false" date-rel="dialog" data-role="none" class="login" >确定</a>
            </div>
        </div>
	</form>	
{/block}
{block name="script"}
	<script type="text/javascript">

    	$(document)
	    	.ajaxStart(function(){
	    		$("button:submit").addClass("log-in").attr("disabled", true);
	    	})
	    	.ajaxStop(function(){
	    		$("button:submit").removeClass("log-in").attr("disabled", false);
	    	});

    	$("form").submit(function(){
    		var self = $(this);
    		$.post(self.attr("action"), self.serialize(), success, "json");
    		return false;

    		function success(data){
    			if(data.code){
    				window.location.href = data.url;
    			} else {
    				self.find(".Validform_checktip").text(data.msg);
    			}
    		}
    	});
	</script>
{/block}