{extend name="base/common"/}
{block name="title"}用户登陆 - {$webname} - {$description}{/block}
{block name="css"}
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/theme.css">
{/block}
{block name="content"}
 <form class="login-form" action="{:url('login')}" method="post">
        <div class="login-input-box">
            <div class="line1">
                <img src="__IMG__/user/user.png">
                <input type="text" name="username" lass="user" placeholder="请输入账号"  data-role="none">
            </div>
            
            <div class="line2">
                <img src="__IMG__/user/lock.png">
                <input type="password" name="usepwd" class="lock" placeholder="请输入密码"    data-role="none">
            </div>
			<div class="line3">  
			    <input type="text" class="user" name="captcha" placeholder="请输入验证码"  data-role="none">
				<img id="captcha" src="{:captcha_src()}" onclick="this.src='{:captcha_src()}?'+Math.random();" width="200" style="float:right; cursor:pointer;" alt="captcha" />
            </div>
            <div class="chose">
                <a href="register.html" data-ajax="false" class="register" data-role="none" data-transition="slide">注册</a>
                <a href="forget.html"data-ajax="false"  class="forgive" data-role="none">忘记密码</a>
				<button class="login" type="submit" data-ajax="false" data-role="none" data-transition="slide">登陆</button>
            </div>
        </div>
    </form>
   
{/block}
{block name="script"}
    <script type="text/javascript">
  
    </script>
{/block}

