{extend name="base/common"/}
{block name="title"}用户注册 - {$webname} - {$description}{/block}
{block name="css"}
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/theme.css">
{/block}
{block name="content"}
    <form class="login-form" action="" method="post">
        <div class="login-input-box">
            <div class="logo">
                <p>用户注册</p>
            </div>

            <div class="line1">
                <img src="__IMG__/user/user.png">
                <input type="text" class="user" value="用户名" onfocus="if(value=='用户名') {value=''}" onblur="if (value=='') {value='用户名'}" data-role="none">
            </div>
            <div class="line3">
                <img src="__IMG__/user/mail.png">
                <input type="text" class="mail" value="邮箱" onfocus="if(value=='邮箱') {value=''}" onblur="if (value=='') {value='邮箱'}" data-role="none">
            </div>
            <div class="line2">
                <img src="__IMG__/user/lock.png">
                <input type="text" class="lock" value="密码" onfocus="if(value=='密码') {value=''}" onblur="if (value=='') {value='密码'}" data-role="none">
            </div>
			<div class="line3">  
                <input type="text" style="width:600px;float:left;margin-right: 0px;"  class="lock" placeholder="请输入验证码" value="验证码" onfocus="if(value=='验证码') {value=''}" onblur="if (value=='') {value='验证码'}" data-role="none">
				<img id="captcha" src="{:captcha_src()}" onclick="this.src='{:captcha_src()}?'+Math.random();" width="200" style="float:right; cursor:pointer;" alt="captcha" />
            </div>
            <div class="chose">
                <a class="register" data-role="none" ></a>
                <a class="forgive" data-role="none"></a>
                <a  href="" data-rel="dialog" data-ajax="false"  data-role="none" class="login" >确定</a>
            </div>
        </div>
    </form>
   
{/block}
{block name="script"}
    <script type="text/javascript">
        $(document)
            .ajaxStart(function(){
                $("button:submit").addClass("log-in").attr("disabled", true);
            })
            .ajaxStop(function(){
                $("button:submit").removeClass("log-in").attr("disabled", false);
            });


        $("form").submit(function(){
            var self = $(this);
            $.post(self.attr("action"), self.serialize(), success, "json");
            return false;

            function success(data){
                if(data.code){
                    window.location.href = data.url;
                } else {
                    self.find(".Validform_checktip").text(data.msg);
                    //刷新验证码
                    $(".verifyimg img").click();
                }
            }
        });

        $(function(){
      //刷新验证码
        var verifyimg = $(".verifyimg img").attr("src");
        $(".verifyimg img").click(function(){
            if( verifyimg.indexOf('?')>0){
                $(".verifyimg img").attr("src", verifyimg+'&random='+Math.random());
            }else{
                $(".verifyimg img").attr("src", verifyimg.replace(/\?.*$/,'')+'?'+Math.random());
            }
        }); 
    });
    </script>
{/block}
