<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>CCTV-8电视剧-冰豆直播</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="Access-Control-Allow-Origin" content="*">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	{js href="__JS__/jquery-1.11.3.min.js" /} 
	{css href="__CSS__/layui.css,__CSS__/main.css,__CSS__/font-awesome.css" /} 

</head>
<body class="main_body" >
	<div class="layui-layout layui-layout-admin">
		<!-- 顶部 -->
		<div class="layui-header header">
			<div class="layui-main">
				<a class="logo"><i class="icon-double-angle-right"></i> CCTV-8电视剧</a>
			    <!-- 顶部右侧菜单 -->
			    <ul class="layui-nav top_menu">
			    	<li class='layui-nav-item'><a><font color="#FF0033"><i class='icon-info-sign'></i><cite>本站直播资源均外链于网络！</cite></font></a></li><li class='layui-nav-item'><a href='http://jd.bingdou.net' target='_blank'><i class='icon-shopping-cart'></i><cite>京东优惠券</cite></a></li><li class='layui-nav-item'><a href='http://tao.bingdou.net/' target='_blank'><font color="#FF0033"><i class='icon-shopping-cart'></i><cite>天猫优惠券</cite></font></a></li><li class='layui-nav-item'><a href='http://v.bingdou.net/' target='_blank'><i class='icon-film'></i><cite>免费影院</cite></a></li>
				</ul>
			</div>
		</div>
		<!-- 左侧导航 -->
		<div class="layui-side layui-bg-black">
			<div class="navBar layui-side-scroll">
			<ul class="layui-nav layui-nav-tree">
			<li class='layui-nav-item'><a href=?classid=1&id=99&pathid=0&url=><i class='icon-play-circle'></i><cite>线路1-高清</cite></a></li><li class='layui-nav-item'><a href=?classid=1&id=99&pathid=1&url=><i class='icon-play-circle'></i><cite>线路2-高清</cite></a></li><li class='layui-nav-item layui-nav-item-hover'><a href=?classid=1&id=99&pathid=2&url=><i class='icon-play-circle'></i><cite>线路3-高清</cite></a></li><li class='layui-nav-item'><a href=?classid=1&id=99&pathid=3&url=><i class='icon-play-circle'></i><cite>线路4-高清</cite></a></li>			</ul>
			</div>
		</div>
		<!-- 右侧内容 -->
		<div class="layui-body layui-form">
			<div class="layui-tab marg0">
				<div class="layui-tab-content clildFrame">
				<iframe id="loading" scrolling="no" allowtransparency="true" allowfullscreen="true" frameborder="0" src="http://tv.bingdou.net/loading.html?classid=1&id=99&pathid=2" width="100%" height="100%"></iframe>
				<iframe src="http://api.bingdou.net/player/m3u8.php?url=https://www.48iuz.com/20181211/kgpkDpYE/index.m3u8" width="100%" height="100%" scrolling="no" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" id="video" style="display:none"></iframe>
				</div>
			</div>
		</div>
	</div>
</body>
<script>
    function show(){
        document.getElementById("video").style.display="";
        document.getElementById("loading").style.display="none";   
    }
    setTimeout("show()",3000);
</script>
</html>