{extend name="base:player"/}
{block name="title"}{$ptitle} - {$title}- {$description}{/block}
{block name="js"}
<script type="text/javascript" src="__CUP__/js/swfobject.js"></script>
<script type="text/javascript" src="__CUP__/js/action.js"></script>
{/block}
{block name="script"}
<script type="text/javascript">
(function (){
    $.post("{$api}",function(data){
        document.title = data['title'] +" - {$ptitle} - {$title}- {$description}";             
        var so = new SWFObject("__CUP__/player.swf","myCuPlayer","100%","100%","9","#000000");
        so.addParam("allowfullscreen","true");
        so.addParam("allowscriptaccess","always");
        so.addParam("wmode","opaque");
        so.addParam("quality","high");
        so.addParam("salign","lt");
        //播放器设置文件-----------------------------
        so.addVariable("JcScpFile","__CUP__/CuSunV4set.xml"); //配置文件
        so.addVariable("JcScpVideoPath",data['url_src']); //视频文件地址
        so.addVariable("JcScpVideoPathHD",data['url_src']); //高清视频地址 
        so.addVariable("JcScpImg","/player/images/startpic.jpg"); //视频图片 
        so.addVariable("JcScpAutoPlay","yes"); //是否自动播放 
        so.addVariable("JcScpStarTime","0"); //起始时间点(暂未启用)
        so.addVariable("JcScpEndTime","0"); //结束时间点
        so.addVariable("JcScpCuePointInfo","开始点|考题开始|结束点"); //提示点信息
        so.addVariable("JcScpCuePointTime","50|110|150"); //提示点秒数值
        //-前置Flash广告-----------------------------
        so.addVariable("ShowJcScpAFront","yes"); //是否显示前置广告
        so.addVariable("JcScpCountDownsPosition","top-left"); //倒计时位置
        so.addVariable("JcScpCountDowns","15"); //广告倒计时位置
        so.addVariable("JcScpAFrontW","700"); //前置广告宽度
        so.addVariable("JcScpAFrontH","420"); //前置广告宽度
        so.addVariable("JcScpAFrontPath","__CUP__/other/a730x454_01.jpg|other/a730x454_02.jpg"); //前置广告地址
        so.addVariable("JcScpAFrontLink","http://127.0.0.1"); //前置广告链接
        //-视频广告参数-----------------------------
        so.addVariable("ShowJcScpAVideo","no"); //是否显示前置视频广告
        //so.addVariable("JcScpAVideoServer","rtmp://www.yoursite.com/vod"); //前置视频广告服务器
        so.addVariable("JcScpAVideoPath","http://promotion.geely.com/xindihao/media/video1.mp4|http://promotion.geely.com/xindihao/media/video2.mp4"); //前置视频广告地址
        so.addVariable("JcScpAVideoLink","http://www.cuplayer.com/CuPlayer/link/L021.html|http://www.cuplayer.com/CuPlayer/link/L022.html"); //前置视频广告链接
        //-暂停广告参数-----------------------------
        so.addVariable("ShowJcScpAPause","yes"); //是否显示暂停广告
        so.addVariable("JcScpAPauseW","300"); //暂停广告地址
        so.addVariable("JcScpAPauseH","250"); //暂停广告高度
        so.addVariable("JcScpAPausePath","__CUP__/other/a300x250_01.jpg|other/a300x250_02.jpg"); //暂停广告地址
        so.addVariable("JcScpAPauseLink","http://www.cuplayer.com/CuPlayer/link/L031.html|http://www.cuplayer.com/CuPlayer/link/L032.html"); //暂停广告链接
        //-角标广告参数-----------------------------
        so.addVariable("ShowJcScpACorner","no"); //是否显示角标广告
        so.addVariable("JcScpACornerW","85"); //角标广告宽度
        so.addVariable("JcScpACornerH","50"); //角标广告高度
        so.addVariable("JcScpACornerPath","other/a90x50_01.swf|other/a90x50_01.swf"); //角标广告地址
        so.addVariable("JcScpACornerPosition","bottom-right"); //角标广告位置
        so.addVariable("JcScpACornerLink","http://www.cuplayer.com/CuPlayer/link/L041.html|http://www.cuplayer.com/CuPlayer/link/L042.html"); //角标广告链接
        //-后置广告参数-----------------------------
        so.addVariable("ShowJcScpAEnd","no"); //是否显示后置广告
        so.addVariable("JcScpAEndW","400"); //后置广告宽度
        so.addVariable("JcScpAEndH","300"); //后置广告高度
        so.addVariable("JcScpAEndPath","other/a400x300_01.swf|other/a400x300_01.swf"); //后置广告地址
        so.addVariable("JcScpAEndLink","http://www.cuplayer.com/CuPlayer/link/L051.html|http://www.cuplayer.com/CuPlayer/link/L051.html"); //后置广告链接
        //-滚动文字广告参数-----------------------------
        so.addVariable("ShowJcScpAMoveText","yes"); //是否滚动文字广告
        so.addVariable("JcScpSharetitle",data['title'] + " CUP播放器 - {$webname}- {$description}" ); //视频标题信息
        so.write("a1");
    },"json");
}());
</script>
{/block}