/** 定义自己的图标 **/
.ui-icon-user{
  background:url('./images/icons-png/user-white.png')  no-repeat 0px 0px;
}
.ui-icon-video{
  background:url('./images/icons-png/video-white.png') no-repeat 0px 0px;
}
.ui-icon-phone{
  background:url('./images/icons-png/phone-white.png') no-repeat 0px 0px;
}
.ui-icon-mail{
  background:url('./images/icons-png/mail-white.png') no-repeat 0px 0px;
}
.ui-icon-shop{
  background:url('./images/icons-png/shop-white.png') no-repeat 0px 0px;
}
.ui-icon-cloud{
  background:url('./images/icons-png/cloud-white.png') no-repeat 0px 0px;
}
.ui-icon-heart{
  background:url('./images/icons-png/heart-white.png') no-repeat 0px 0px;
}