@charset "utf-8";
html, body, div, span,applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;}
.content .cont_box{padding: 0;overflow: hidden; width:100%; height:100%;}
.videobox{
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    z-index: 50;
    position: relative;
    font-size:12px;
}
#left {
    width: 100%;
    height: 100%;
    float: left;
}
#play{
    position:relative;
	float:left;
	background:#000;
	z-index:10;
	overflow:hidden;
}
#a1{
    height: 100%;
}
#right{
    width: 300px;
    height: 100%;
    float: left;
    margin-left: -300px;
    /* position: absolute; */
    /* right: 0; */
    background-color: #1F1F1F;
    overflow: hidden;
    position: relative;
    z-index: 50;
}
#listhide{z-index: 20;position: relative;float: left;width: 20px;height: 100%;background-color: #1f1f1f;}
#hide{position: absolute;left: 0;top: 50%;width: 15px;height: 83px;margin-top: -42px;background: url(../img/paopao.png) no-repeat -221px -200px;text-align: center;cursor: pointer;}
#shows{  color: #999;display: block;height: 100%;}
#shows:hover{  color: #76B300; background-color: rgb(63, 63, 63);}
.listicn{display: inline-block;width: 8px;height: 7px;background: url(../img/juji-list.png) no-repeat;}
.showbox{  position: absolute;width: 12px;height: 70px;top: 50%;left: 0;margin-top: -35px;}
.showbox span{position: absolute;bottom: 0;left: 3px;line-height: 14px;font-size: 12px;}
.icn_left {background-position: -40px 0;position: absolute;top: 0;left: 4px;}
.icn_left:hover {background-position:-60px 0}
.icn_right {background-position: 0 0;position: absolute;top: 50%;margin-top: -3px;left: 50%;margin-left: -5px;}
.icn_right:hover {background-position:-20px 0}

#listcontent{
    height: 100%;
    overflow: hidden;
    margin-left: 20px;
    position: relative;
}
.list_a{
    overflow: auto;
}
.ul_box{
    position: absolute;
    bottom: 15px;
    top: 117px;
    overflow: hidden;
    width: 280px;
    }
.list_a ul{
    overflow: hidden;
    padding-top: 13px;
}
.list_c{
    /* padding-top: 13px; */
    color: #999;
    overflow: hidden;
    width: 265px;
}
.list_j{
    margin-right: 15px;
    color: #999;
    line-height: 20px;
    font-size: 13px;
}
.list_c h2{
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
    height: 25px;
    overflow: hidden;
}
.list_c h2:hover{color:#FFF;}
.list_c p{
    font-size: 14px;
    padding-left: 10px;
    line-height: 25px;
    height: 25px;
    border-left: 3px solid #00C300;
    background-color: #272727;
}

.main{height: 35px;line-height: 35px;border-bottom: 2px solid #353535;margin-bottom: 10px;}
.main a{float:left;width: 46px;color: white;padding-left: 20px;border-bottom: 2px solid;border-color:  #353535;}
#main1{display: block;border-bottom:2px solid #00C300}
.dz{background: url(../img/main_b.png)no-repeat bottom left #1f1f1f;position: absolute;width: 16px;height: 9px;margin-left: -20px;margin-top: 28px;}

.list_d{padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;width: 265px;overflow: hidden;}
.list_d ul{overflow:auto;padding: 0;}
.list_d ul li{width: 88px;position: relative;float: left;border-bottom: 1px solid #1f1f1f;border-right: 1px solid #1f1f1f;border-top: 0;border-left: none;font-size: 14px;}
.list_d ul li a{display: block;/* height: 48px; */color: #c3c3c3;line-height: 46px;text-align: center;background-color: #2F2F2F;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;border: 1px solid #2F2F2F;padding: 0 5px;}
.list_d ul li .currda{color:#00C300;border-color: #00C300}
.list_d ul li a:hover{text-decoration: none;color:#00C300;border-color: #00C300;transition:0.3s;-moz-transition:0.3s;-webkit-transition:0.3s-o-transition:0.3s;}

#ul3 .list_j li{
    width: 132px;
    height: 200px;
    float: left;
    overflow: hidden;
    border: 0;
    position: inherit;
    margin-bottom: 5px;
}
#ul3 .list_j li a{
    display: block;
    height: 180px;
    padding: 0 1px;
    border: 0;
    background-color: #1F1F1F;
}
#ul3 .list_j li a img{
    width: 100%;
    height: 100%;
    border: 0;
}
#ul3 .list_j li p{
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#ul4{}
#ul4 .history{
    overflow: hidden;
}
#ul4 .history li{
    width: 100%;
    border: 0;
    margin-bottom: 2px;

}
#ul4 .history li a{
    display: block;
    height: 30px;
    line-height: 30px;
    text-indent: 10px;
    text-align: left;
    border: 0;
    border-left: 2px solid #00C300;
}



/*jiami*/
.mi_box{
    width: 100%;
    height: 100%;
    position: relative;
}
.shumi_box{
    overflow: hidden;
    padding: 30px 10px;
    position: absolute;
    width: 400px;
    left: 50%;
    margin-left: -210px;
    background-color: rgba(153, 153, 153, 0.5);
    height: 170px;
    top: 50%;
    margin-top: -115px;
    text-align: center;
    box-shadow: 0 0 20px #000;
    border-radius: 10px;
}
.mititle{
    font-size: 18px;
}
.mititle label{
    display: block;
}
.miinput{
    margin-top: 10px;
}
.miinput input{
    width: 210px;
    padding: 7px 10px;
}
.mibtn{
    margin-top: 10px;
}
.mibtn button{
    width: 80px;
    height: 29px;
    color: rgb(82, 82, 82);
}
.mitip{
    margin-top: 10px;
    font-size: 12px;
    color: #00FF22;
    line-height: 20px;
}