{extend name="base:player"/}
{block name="title"}{$ptitle} - {$title}- {$description}{/block}
{block name="js"}
<script type="text/javascript" src="__CKP__/ckplayer.js" charset="UTF-8"></script>
<script type="text/javascript" src="__Player__/base.js"  charset="UTF-8"></script>
{/block}
{block name="script"}
    <script type="text/javascript">
     $(function(){
        $.post("{$api}",function(data){           
            document.title = data['title'] +" {$ptitle} - {$title} - {$description}";
            ckp(data['base']) ;   
        },"json");  
        document.title =  "外部调用{$ptitle} - {$title}- {$description}";
        ckp(getUrlParam('base'));      
    });
    </script>
{/block}