{extend name="base:player"/}
{block name="title"}{$ptitle} - {$title}- {$description}{/block}
{block name="js"}    
    <script type="text/javascript" src="__JS__/jquery.mousewheel.js"></script>    
    <script type="text/javascript" src="__JS__/perfect-scrollbar.js"></script>
{/block}
{block name="css"}
    <link href="__CSS__/video.css" rel="stylesheet" type="text/css" />
    <link href="__CSS__/perfect-scrollbar.css" rel="stylesheet"  type="text/css" />
{/block}
{block name="content"}
    <div class="videobox">
        <div id="left">
            <div id="play">
                <iframe id="a1" frameborder="0" width="100%" height="100%" scrolling="AUTO" allowtransparency="yes"></iframe>
            </div>
        </div>
        <div id="right">
            <div id="listhide">
                <a id="hide" onclick="hide()">
                    <i class="listicn icn_right"></i>
                </a>
                <a id="shows" style="display:none;" onclick="hide()">
                    <div class="showbox">
                        <i class="listicn icn_left"></i>
                        <span>展开列表</span>
                    </div>
                </a>
            </div>
            <div id="listcontent">
                <div class="list_a" id="list_a">
                    <ul>   
                        <div class="list_c">
                            <h2 id="list_title"></h2>
                            <p id="list_subname"></p>
                        </div> 
                        <div class="list_d" id="list_d">                            
                            <div class= "main" id = "main">
                                <a id="main1" onclick="main('1')">列表<i class="dz"></i></a>
                            </div>
                            <div class="ul_box">
                                <ul id="ul1"></ul>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{/block}
{block name="script"}
<script type="text/javascript">  
    var nowD = 0;
    var vid = "{$vid}" ;
	player(vid);	  
    var Playlist = new Array(); 
    function player(n){  
        nowD = n;
        $.post("{$api}",function(data){ 
            Playlist = data['lists'] ;          
            var html = '';
            for (i = 0; i < Playlist.length; i++) {
                if (i != nowD) {
                    html += '<li style="width:266px"><a href="javascript:jsnull();" id="vli_'+ i +'"  data-cur="'+Playlist[i].title +'" data-next="'+Playlist[i].title +'" onclick="player('+ i +')" title="'+Playlist[i].title +'">'+Playlist[i].title +'</a></li>';
                }else{
                   html += '<li style="width:266px"><a class="currda" href="javascript:jsnull();" id="vli_'+ i +'"  data-cur="'+Playlist[i].title +'" data-next="'+Playlist[i].title +'" onclick="player('+ i +')" title="'+Playlist[i].title +'">'+Playlist[i].title +'</a></li>';                    
                }
            }                                                                                                                         
            $("#ul1").html(html);          
            document.title = data['name'] +"["+Playlist[nowD].title+"] - {$ptitle} - {$title}- {$description}";
            $('#list_title').html(data['name'] +" - {$ptitle}");   
            $('#list_subname').html("正在播放："+Playlist[nowD].title);				 
            document.getElementById("a1").src ="{:url('/home/vod')}/api?url="+Playlist[nowD].url;
        },"json");
    };     
    $('#play').css({'width':$('.videobox').width()-300+"px"});
    $('.ul_box').perfectScrollbar();
    $('.ul_box').animate({scrollTop:($('.currda').offset().top-297)}, 500);
    $('.ul_box').animate({scrollTop:($('.currda').offset().top-297)}, 1000);
    function hide(){
        if($('#right').width()==300){
            $('#right').css({'width':20}).css('float','right').css('marginLeft','-20px');
            $('#listcontent').hide();
            $('#shows').show();
            $('#hide').hide();
            $('#play').css({'width':$('.videobox').width()-$('#right').width()+"px"});
        }else{
            $('#right').css({'width':300}).css('float','left').css('marginLeft','-300px');
            $('#listcontent').show();
            $('#shows').hide();
            $('#hide').show();
            $('#play').css({'width':$('.videobox').width()-$('#right').width()+"px"});
        }
    }
</script>
{/block}
