<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {js href='__STATIC__jquery/jquery-1.11.0.min.js' /}
    {js href='__STATIC__layui/layui.js' /}
    {CSS href="__STATIC__layui/css/layui.css" /}
    {CSS href="__ADDONSTATIC__css/style.css" /}
</head>
<body style="padding: 0px 10px;">
<div style="padding: 0px 10px 0px 10px;">
    <form class="layui-form" action="" style="padding-right:10px; ">        
        <div class="layui-form-item">
            <label class="layui-form-label">快递公司</label>
            <div class="layui-input-block">
                <select name="company">                    
                    <option value="shunfeng" {if !empty($row)}{if $row.company == 'shunfeng'}selected{/if}{/if}>顺丰快递</option>
                    <option value="shentong" {if !empty($row)}{if $row.company == 'shentong'}selected{/if}{/if}>申通快递</option>
                    <option value="tiantian" {if !empty($row)}{if $row.company == 'tiantian'}selected{/if}{/if}>天天快递</option>
                    <option value="yuantong" {if !empty($row)}{if $row.company == 'yuantong'}selected{/if}{/if}>圆通快递</option>
                    <option value="yunda" {if !empty($row)}{if $row.company == 'yunda'}selected{/if}{/if}>韵达快递</option>
                    <option value="zhongtong" {if !empty($row)}{if $row.company == 'zhongtong'}selected{/if}{/if}>中通快递</option>
                    <option value="ems" {if !empty($row)}{if $row.company == 'ems'}selected{/if}{/if}>EMS</option>
                </select>
            </div>
        </div> 
        <div class="layui-form-item">
            <label class="layui-form-label">单号</label>
            <div class="layui-input-block">
                <input type="text" name="logistics_num" required lay-verify="required" placeholder="请输入快递单号" autocomplete="off" class="layui-input" value="{if !empty($row)}{$row.logistics_num}{/if}">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">确定</button>
            </div>
        </div>
    </form>
</div>
</body>
<script>
    var layer;
    layui.use('layer',function () {
        layer = layui.layer;
    })
    
    layui.use('form', function () {
        var form = layui.form;
        //监听提交
        form.on('submit(formDemo)', function (data) {
           // layer.msg(JSON.stringify(data.field));
            $.post('',data.field,function (res) {
                if(res.status=='0'){
                    layer.msg(res.msg);
                }
                if(res.status=='1'){
                    layer.msg(res.msg);
                }
            })
            return false;
        });
    });
</script>
</html>