<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {js href='__STATIC__jquery/jquery-1.11.0.min.js' /}
    {js href='__STATIC__layui/layui.js' /}
    {CSS href="__STATIC__layui/css/layui.css" /}
    {CSS href="__ADDONSTATIC__css/style.css" /}
</head>
<body style="padding: 0px 10px;">
<div style="padding: 0px 10px 0px 10px;">
    <form class="layui-form" action="" style="padding-right:10px; ">
        <div class="layui-form-item">
            <label class="layui-form-label">标题</label>
            <div class="layui-input-block">
                <input type="text" name="title" required lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input" value="{if !empty($data)}{$data.title}{/if}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">分类</label>
            <div class="layui-input-block">
                <select name="type">
                    {volist name="typeList" id="row"}
                    <option value="{$row.id}" {if !empty($data)}{if $data.type == $row.id}selected{/if}{/if}>{$row.title}</option>
                    {/volist}
                </select>
            </div>
        </div> 
        <div class="layui-form-item">
            <label class="layui-form-label">封面</label>
            <div class="layui-input-block">
                {if !empty($data)}
                {:hook('Upload',['type'=>'images','name'=>'images','value'=>$data.images])}
                {else}
                {:hook('Upload',['type'=>'images','name'=>'images'])}
                {/if}                
            </div>
        </div>       
        <div class="layui-form-item">
            <label class="layui-form-label">价格</label>
            <div class="layui-input-block">
                <input type="text" name="price" required lay-verify="required" placeholder="请输入价格" autocomplete="off" class="layui-input" value="{if !empty($data)}{$data.price}{/if}">
            </div>
        </div>        
        <div class="layui-form-item">
            <label class="layui-form-label">运费</label>
            <div class="layui-input-block">
                <input type="text" name="freight" required lay-verify="required" placeholder="请输入运费" autocomplete="off" class="layui-input" value="{if !empty($data)}{$data.freight}{/if}">
            </div>
        </div>     
        <div class="layui-form-item">
            <label class="layui-form-label">库存</label>
            <div class="layui-input-block">
                <input type="text" name="count" required lay-verify="required" placeholder="请输入库存" autocomplete="off" class="layui-input" value="{if !empty($data)}{$data.count}{/if}">
            </div>
        </div>       
        <div class="layui-form-item">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-block">
                <input type="radio" name="status" value="1" {if !empty($data)}{if $data.status == 1}checked{/if}{/if} title="上架">
                <input type="radio" name="status" value="0" {if !empty($data)}{if $data.status == 0}checked{/if}{/if} title="下架">
            </div>
        </div>      
        <div class="layui-form-item">
            <label class="layui-form-label">首页展示</label>
            <div class="layui-input-block">
                <input type="radio" name="index" value="1" {if !empty($data)}{if $data.index == 1}checked{/if}{/if} title="是">
                <input type="radio" name="index" value="0" {if !empty($data)}{if $data.index == 0}checked{/if}{/if} title="否">
            </div>
        </div> 
        <div class="layui-form-item">
            <label class="layui-form-label">内容</label>
            <div class="layui-input-block">
                <script id="container" type="text/plain" name="content">
                    {if !empty($data)}{$data.content|raw}{/if}
                </script>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">保存</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
        {if !empty($data)}<input type="hidden" name="id" value="{$data.id}">{/if}
    </form>
</div>
{js href="__STATIC__ueditor/ueditor.config.js" /}
<!-- 编辑器源码文件 -->
{js href="__STATIC__ueditor/ueditor.all.js" /}
</body>
<script>
    var ue = UE.getEditor('container'); 
    var layer;
    layui.use('layer',function () {
        layer = layui.layer;
    })
    
    layui.use('form', function () {
        var form = layui.form;
        //监听提交
        form.on('submit(formDemo)', function (data) {
           // layer.msg(JSON.stringify(data.field));
            $.post('',data.field,function (res) {
                if(res.status=='0'){
                    layer.msg(res.msg);
                }
                if(res.status=='1'){
                    layer.msg(res.msg);
                    setTimeout(function(){
                        window.location.href="{:addonUrl('goods/index')}";
                    },1000);
                }
            })
            return false;
        });
    });
</script>
</html>