<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>VipTV - 频道列表</title>
{css href="/static/home/css/tv.css" /}
{js href="/static/home/js/jquery-1.11.3.min.js" /}
<script>
// JavaScript Document
function navList(id) {
    var $obj = $("#J_navlist"), $item = $("#J_nav_" + id);
    $item.addClass("on").parent().removeClass("none").parent().addClass("selected");
    $obj.find("h4").hover(function () {
        $(this).addClass("hover");
    }, function () {
        $(this).removeClass("hover");
    });
    $obj.find("p").hover(function () {
        if ($(this).hasClass("on")) { return; }
        $(this).addClass("hover");
    }, function () {
        if ($(this).hasClass("on")) { return; }
        $(this).removeClass("hover");
    });
    $obj.find("h4").click(function () {
        var $div = $(this).siblings(".list-item");
        if ($(this).parent().hasClass("selected")) {
            $div.slideUp(600);
            $(this).parent().removeClass("selected");
        }
        if ($div.is(":hidden")) {
            $("#J_navlist li").find(".list-item").slideUp(600);
            $("#J_navlist li").removeClass("selected");
            $(this).parent().addClass("selected");
            $div.slideDown(600);

        } else {
            $div.slideUp(600);
        }
    });
}
</script>
<base target="iframe-player">
</head>
<body>
<div class="bingdoutv">
  <div class="main">
    <div class="left-sider">
      <div class="operate">
        <h3>直播列表<a style="margin-left:5px;color:#888;text-decoration:none;font-size:13px;" rel="nofollow" href='javascript:location.reload()'>(刷新)</a></h3>
        <ul id="J_navlist">		
		{volist name="livelist" id="vo"}
		<li>
		
		     <h4>{$vo.name}</h4>
			 <div class="list-item none">
			{volist name="vo['listinfo']" id="sub"}
			    <p><a href="{:url('mgtv/TvPlay')}?id={$sub.pID}">{$sub.name}</a></p>
			{/volist}
            </div>		
        </li> 
		{/volist}
        </ul>
        <script type="text/javascript" language="javascript">
			navList(12);
		</script>
      </div>
    </div>
  </div>
</div>
</body>
</html>