<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no, email=no">    
    <title>收银台</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/core.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/icon.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/home.css">
    <link rel="icon" type="image/x-icon" href="">
    <link href="" sizes="114x114" rel="apple-touch-icon-precomposed">
    {:hook('Jssdk')}
</head>
<body>
    <header class="aui-header-default aui-header-fixed">
        <a href="javascript:history.back(-1)" class="aui-header-item">
            <i class="aui-icon aui-icon-back"></i>
        </a>
        <div class="aui-header-center aui-header-center-clear">
            <div class="aui-header-center-logo">
                <div class="">收银台</div>
            </div>
        </div>
    </header>
    <section class="aui-settle-content">
        <div class="aui-settle-title">
            <p>需要支付:    <span>{$payment.money}元</span></p>
        </div>        
        <div class="aui-dri"></div>
        <div class="aui-settle-ways">
            支付方式
        </div>
        <div class="aui-settle-choice">            
            <a href="javascript:;" class="aui-address-cell  aui-fl-arrow-clear">
                <div class="aui-address-cell-hd">
                    <img src="__STATIC__/images/apy-5.png" alt="">
                </div>
                <div class="aui-address-cell-bd">
                    微信支付
                    <p>微信安全支付</p>
                </div>
                <div class="aui-address-cell-ft"><input type="checkbox" class="check check-pay goods-check goodsCheck" checked="checked"></div>
            </a>
        </div>
    </section>
    <div class="aui-settle-payment">
        <a href="javascript:;" class="pay-btn">微信支付 {$payment.money} 元</a>
    </div>
    {js href='__STATIC__/jquery/jquery-1.11.0.min.js' /}
    {js href='__STATIC__/layui/layui.js' /}
    <script type="text/javascript">
        var layer;
        layui.use('layer',function () {
            layer = layui.layer;
        })
        $(".pay-btn").click(function(){
            $.post("",{'payment_id':"{$payment.payment_id}"},function (res) {
                if(res.status==1){
                    WeixinJSBridge.invoke(
                        'getBrandWCPayRequest',
                        res.jsApiParameters,
                        function(res){
                            if(res.err_msg == 'get_brand_wcpay_request:ok') {
                                $.post("{:url('queryOrderByWxpay')}",{'ordernumber':"{$payment.order_number}"},function (res) {
                                    if(res.status==1){
                                        $.post("{:url('/app/weshop/index/setOrderStatus')}",{
                                            id:{$payment.payment_id},
                                        },function (result) {
                                            if(result.status==1){
                                                layer.msg(res.msg);
                                                setTimeout(function(){
                                                    window.location.href = "{:url('/app/weshop/index/order')}";
                                                },1000);
                                            }
                                        })                                        
                                    }else{
                                        layer.msg(res.msg);
                                    }
                                })
                            } else {
                                // $.alert('启动微信支付失败, 请检查你的支付参数');
                            }
                        }
                    );
                }else{
                    layer.msg(res.msg);
                }
            })
        }); 
    </script>
</body>
</html>